.background {
    width: 100%;
    background-color: var(--dark-background);
    height: 80px;
    z-index: 9999;
    position: relative;
}

.svg_circle_one {
    position: absolute;
    width: 120px;
    height: 120px;
    z-index: 10000;
    left: 33%;
    top: -70px;
}

.topbar {
    display: flex;
    width: 100%;
    padding: 2rem 7rem 1rem 7rem;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #1b1b1bb6;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 9999;
}


.logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}

.logo h2 {
    cursor: pointer;
}

.logo .menu_button {
    display: none;
    cursor: pointer;
}

.nav_menu {
    display: flex;
    align-items: center;
    width: 100%;
}

.mobile_nav_menu {
    display: none;
    transition: all 0.2s ease;
}

.nav_menuList {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-evenly;
}

.links {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.activeLink li {
    color: #2dc680
}

li {
    align-self: center;
}

.svg_line {
    align-self: center;
}

.line_el {
    stroke-width: 3px;
    stroke: #2dc680;
    stroke-dasharray: 30;
    stroke-dashoffset: 30;
}

.links:hover .line_el {
    stroke: #2dc680;
    animation: offset_line 0.3s linear forwards;
}


@keyframes offset_line {
    to {
        stroke-dashoffset: 0;
    }
}

@media (max-width: 900px) {
    .svg_circle_one {
        z-index: 9998;
    }
}

@media (max-width: 768px) {
    .topbar {
        padding: 1rem 3rem 0.4rem 3rem;
    }
}

@media (max-width: 680px) {
    .logo h2 {
        font-size: 22px;
    }

    .nav_menuList {
        gap: 1rem;
    }

    .nav_menuList li {
        font-size: 13px;
    }
}


@media (max-width: 569px) {
    .background {
        width: 100%;
        background-color: var(--dark-background);
        height: 60px;
    }

    .topbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.7rem 1.5rem 0.2rem 1.5rem;
        height: 60px;
    }

    .logo {
        padding: 5px;
        justify-content: space-between;
    }

    .logo .menu_button {
        display: block;
    }

    .nav_menu {
        display: none;
    }

    .mobile_nav_menu {
        display: flex;
        position: absolute;
        top: 100%;
        width: 100%;
        right: 100%;
        background-color: var(--dark-background);
    }

    .mobile_nav_menuList {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        width: 100%;
        padding: 10px; 
        box-sizing: border-box;
        gap: 10px;
    }
    
    .mobile_nav_menuList li {
        font-size: 15px;
        transition: all ease;
        transition-duration: 0.2s;
        transition-delay: 10s;
        width: 90%;
        flex: 1;
        padding: 5px;
    }

    .mobile_nav_menuList li:hover {
        background-color: rgb(51, 51, 51);
    }

    .mobile_nav_menu.menu_disappear {
        animation: slide_off 0.3s linear forwards;
    }

    .mobile_nav_menu.menu_appear {
        animation: slide_in 0.3s linear forwards;
    }

}

@keyframes slide_off {
    0% {
        right: 0;
    }

    100% {
        right: 100%;
    }
}

@keyframes slide_in {
    0% {
        right: 100%;
    }

    100% {
        right: 0;
    }
}